html,
body {
    height: 100%;
    margin: 0;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.first_image_container {
    background-image: url(images/image1.png);
    min-height: 100%;
}

.second_image_container {
    background-image: url(images/image2.png);
    min-height: 100%;
}

.third_image_container {
    background-image: url(images/image3.png);
    min-height: 100%;
}

.first_image_container,
.second_image_container,
.third_image_container {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* The line which provides parallax effect */
    background-attachment: fixed;
}

/* Styling the first box in first image  */
.first_section_header,
.second_section_header,
.third_section_header {
    position: absolute;
    top: 50%;
    text-align: center;
    color: black;
    width: 100%;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 27px;
}

.first_text_first_container,
.second_text_second_container,
.third_text_third_container {
    background-color: #313534;
    color: white;
    padding: 20px;
    font-size: 40px;
}

/* Styling first section container */

.first_text_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f4f4f4;
    color: #666;
}

.first_heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 1;
}

.first_para {
    font-size: 20px;
    line-height: 1.4;
    padding: 0 50px 70px 50px;
    opacity: 0.6;
}

/* Styling second section container */
.second_text_container,
.third_text_container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #353030;
    color: #fff;
}

.second_heading,
.third_heading {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 1;
}

.second_para,
.third_para {
    font-size: 20px;
    line-height: 1.4;
    padding: 0 50px 70px 50px;
    opacity: 0.6;
}

/* Styling third section container */

/* Media query for the text of image section */

@media(max-width:450px) {

    .first_text_first_container,
    .second_text_second_container,
    .third_text_third_container {
        line-height: 1.8;
    }
}